[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2020.12.5"
click = "*"
cycler = "==0.10.0"
python-dateutil = "*"
flask = "*"
pillow = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.9"
